/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$callwomen-icon-name: 'callwomen_icon';
$callwomen-icon-x: 450px;
$callwomen-icon-y: 0px;
$callwomen-icon-offset-x: -450px;
$callwomen-icon-offset-y: 0px;
$callwomen-icon-width: 44px;
$callwomen-icon-height: 55px;
$callwomen-icon-total-width: 1645px;
$callwomen-icon-total-height: 578px;
$callwomen-icon-image: '/dist/img/sprite.png';
$callwomen-icon: (450px, 0px, -450px, 0px, 44px, 55px, 1645px, 578px, '/dist/img/sprite.png', 'callwomen_icon', );
$card-name: 'card';
$card-x: 0px;
$card-y: 0px;
$card-offset-x: 0px;
$card-offset-y: 0px;
$card-width: 14px;
$card-height: 14px;
$card-total-width: 1645px;
$card-total-height: 578px;
$card-image: '/dist/img/sprite.png';
$card: (0px, 0px, 0px, 0px, 14px, 14px, 1645px, 578px, '/dist/img/sprite.png', 'card', );
$cogwheel-name: 'cogwheel';
$cogwheel-x: 278px;
$cogwheel-y: 0px;
$cogwheel-offset-x: -278px;
$cogwheel-offset-y: 0px;
$cogwheel-width: 43px;
$cogwheel-height: 43px;
$cogwheel-total-width: 1645px;
$cogwheel-total-height: 578px;
$cogwheel-image: '/dist/img/sprite.png';
$cogwheel: (278px, 0px, -278px, 0px, 43px, 43px, 1645px, 578px, '/dist/img/sprite.png', 'cogwheel', );
$cogwheel-hover-name: 'cogwheel_hover';
$cogwheel-hover-x: 235px;
$cogwheel-hover-y: 0px;
$cogwheel-hover-offset-x: -235px;
$cogwheel-hover-offset-y: 0px;
$cogwheel-hover-width: 43px;
$cogwheel-hover-height: 43px;
$cogwheel-hover-total-width: 1645px;
$cogwheel-hover-total-height: 578px;
$cogwheel-hover-image: '/dist/img/sprite.png';
$cogwheel-hover: (235px, 0px, -235px, 0px, 43px, 43px, 1645px, 578px, '/dist/img/sprite.png', 'cogwheel_hover', );
$coins-icon-name: 'coins_icon';
$coins-icon-x: 541px;
$coins-icon-y: 0px;
$coins-icon-offset-x: -541px;
$coins-icon-offset-y: 0px;
$coins-icon-width: 49px;
$coins-icon-height: 56px;
$coins-icon-total-width: 1645px;
$coins-icon-total-height: 578px;
$coins-icon-image: '/dist/img/sprite.png';
$coins-icon: (541px, 0px, -541px, 0px, 49px, 56px, 1645px, 578px, '/dist/img/sprite.png', 'coins_icon', );
$email-name: 'email';
$email-x: 29px;
$email-y: 0px;
$email-offset-x: -29px;
$email-offset-y: 0px;
$email-width: 17px;
$email-height: 14px;
$email-total-width: 1645px;
$email-total-height: 578px;
$email-image: '/dist/img/sprite.png';
$email: (29px, 0px, -29px, 0px, 17px, 14px, 1645px, 578px, '/dist/img/sprite.png', 'email', );
$helpcircle-icon-name: 'helpcircle_icon';
$helpcircle-icon-x: 806px;
$helpcircle-icon-y: 0px;
$helpcircle-icon-offset-x: -806px;
$helpcircle-icon-offset-y: 0px;
$helpcircle-icon-width: 55px;
$helpcircle-icon-height: 56px;
$helpcircle-icon-total-width: 1645px;
$helpcircle-icon-total-height: 578px;
$helpcircle-icon-image: '/dist/img/sprite.png';
$helpcircle-icon: (806px, 0px, -806px, 0px, 55px, 56px, 1645px, 578px, '/dist/img/sprite.png', 'helpcircle_icon', );
$key-icon-name: 'key_icon';
$key-icon-x: 202px;
$key-icon-y: 0px;
$key-icon-offset-x: -202px;
$key-icon-offset-y: 0px;
$key-icon-width: 33px;
$key-icon-height: 55px;
$key-icon-total-width: 1645px;
$key-icon-total-height: 578px;
$key-icon-image: '/dist/img/sprite.png';
$key-icon: (202px, 0px, -202px, 0px, 33px, 55px, 1645px, 578px, '/dist/img/sprite.png', 'key_icon', );
$lemur-back-name: 'lemur_back';
$lemur-back-x: 861px;
$lemur-back-y: 0px;
$lemur-back-offset-x: -861px;
$lemur-back-offset-y: 0px;
$lemur-back-width: 784px;
$lemur-back-height: 578px;
$lemur-back-total-width: 1645px;
$lemur-back-total-height: 578px;
$lemur-back-image: '/dist/img/sprite.png';
$lemur-back: (861px, 0px, -861px, 0px, 784px, 578px, 1645px, 578px, '/dist/img/sprite.png', 'lemur_back', );
$next-arrow-name: 'next_arrow';
$next-arrow-x: 106px;
$next-arrow-y: 0px;
$next-arrow-offset-x: -106px;
$next-arrow-offset-y: 0px;
$next-arrow-width: 32px;
$next-arrow-height: 32px;
$next-arrow-total-width: 1645px;
$next-arrow-total-height: 578px;
$next-arrow-image: '/dist/img/sprite.png';
$next-arrow: (106px, 0px, -106px, 0px, 32px, 32px, 1645px, 578px, '/dist/img/sprite.png', 'next_arrow', );
$next-arrow-hover-name: 'next_arrow_hover';
$next-arrow-hover-x: 138px;
$next-arrow-hover-y: 0px;
$next-arrow-hover-offset-x: -138px;
$next-arrow-hover-offset-y: 0px;
$next-arrow-hover-width: 32px;
$next-arrow-hover-height: 32px;
$next-arrow-hover-total-width: 1645px;
$next-arrow-hover-total-height: 578px;
$next-arrow-hover-image: '/dist/img/sprite.png';
$next-arrow-hover: (138px, 0px, -138px, 0px, 32px, 32px, 1645px, 578px, '/dist/img/sprite.png', 'next_arrow_hover', );
$prev-arrow-name: 'prev_arrow';
$prev-arrow-x: 74px;
$prev-arrow-y: 0px;
$prev-arrow-offset-x: -74px;
$prev-arrow-offset-y: 0px;
$prev-arrow-width: 32px;
$prev-arrow-height: 32px;
$prev-arrow-total-width: 1645px;
$prev-arrow-total-height: 578px;
$prev-arrow-image: '/dist/img/sprite.png';
$prev-arrow: (74px, 0px, -74px, 0px, 32px, 32px, 1645px, 578px, '/dist/img/sprite.png', 'prev_arrow', );
$prev-arrow-hover-name: 'prev_arrow_hover';
$prev-arrow-hover-x: 170px;
$prev-arrow-hover-y: 0px;
$prev-arrow-hover-offset-x: -170px;
$prev-arrow-hover-offset-y: 0px;
$prev-arrow-hover-width: 32px;
$prev-arrow-hover-height: 32px;
$prev-arrow-hover-total-width: 1645px;
$prev-arrow-hover-total-height: 578px;
$prev-arrow-hover-image: '/dist/img/sprite.png';
$prev-arrow-hover: (170px, 0px, -170px, 0px, 32px, 32px, 1645px, 578px, '/dist/img/sprite.png', 'prev_arrow_hover', );
$repair-tools-name: 'repair-tools';
$repair-tools-x: 364px;
$repair-tools-y: 0px;
$repair-tools-offset-x: -364px;
$repair-tools-offset-y: 0px;
$repair-tools-width: 43px;
$repair-tools-height: 43px;
$repair-tools-total-width: 1645px;
$repair-tools-total-height: 578px;
$repair-tools-image: '/dist/img/sprite.png';
$repair-tools: (364px, 0px, -364px, 0px, 43px, 43px, 1645px, 578px, '/dist/img/sprite.png', 'repair-tools', );
$repairtools-icon-name: 'repairtools_icon';
$repairtools-icon-x: 751px;
$repairtools-icon-y: 0px;
$repairtools-icon-offset-x: -751px;
$repairtools-icon-offset-y: 0px;
$repairtools-icon-width: 55px;
$repairtools-icon-height: 56px;
$repairtools-icon-total-width: 1645px;
$repairtools-icon-total-height: 578px;
$repairtools-icon-image: '/dist/img/sprite.png';
$repairtools-icon: (751px, 0px, -751px, 0px, 55px, 56px, 1645px, 578px, '/dist/img/sprite.png', 'repairtools_icon', );
$rings-icon-name: 'rings_icon';
$rings-icon-x: 696px;
$rings-icon-y: 0px;
$rings-icon-offset-x: -696px;
$rings-icon-offset-y: 0px;
$rings-icon-width: 55px;
$rings-icon-height: 56px;
$rings-icon-total-width: 1645px;
$rings-icon-total-height: 578px;
$rings-icon-image: '/dist/img/sprite.png';
$rings-icon: (696px, 0px, -696px, 0px, 55px, 56px, 1645px, 578px, '/dist/img/sprite.png', 'rings_icon', );
$server-name: 'server';
$server-x: 321px;
$server-y: 0px;
$server-offset-x: -321px;
$server-offset-y: 0px;
$server-width: 43px;
$server-height: 43px;
$server-total-width: 1645px;
$server-total-height: 578px;
$server-image: '/dist/img/sprite.png';
$server: (321px, 0px, -321px, 0px, 43px, 43px, 1645px, 578px, '/dist/img/sprite.png', 'server', );
$server-hover-name: 'server_hover';
$server-hover-x: 407px;
$server-hover-y: 0px;
$server-hover-offset-x: -407px;
$server-hover-offset-y: 0px;
$server-hover-width: 43px;
$server-hover-height: 43px;
$server-hover-total-width: 1645px;
$server-hover-total-height: 578px;
$server-hover-image: '/dist/img/sprite.png';
$server-hover: (407px, 0px, -407px, 0px, 43px, 43px, 1645px, 578px, '/dist/img/sprite.png', 'server_hover', );
$smartphone-name: 'smartphone';
$smartphone-x: 46px;
$smartphone-y: 0px;
$smartphone-offset-x: -46px;
$smartphone-offset-y: 0px;
$smartphone-width: 28px;
$smartphone-height: 43px;
$smartphone-total-width: 1645px;
$smartphone-total-height: 578px;
$smartphone-image: '/dist/img/sprite.png';
$smartphone: (46px, 0px, -46px, 0px, 28px, 43px, 1645px, 578px, '/dist/img/sprite.png', 'smartphone', );
$telephone-name: 'telephone';
$telephone-x: 14px;
$telephone-y: 0px;
$telephone-offset-x: -14px;
$telephone-offset-y: 0px;
$telephone-width: 15px;
$telephone-height: 14px;
$telephone-total-width: 1645px;
$telephone-total-height: 578px;
$telephone-image: '/dist/img/sprite.png';
$telephone: (14px, 0px, -14px, 0px, 15px, 14px, 1645px, 578px, '/dist/img/sprite.png', 'telephone', );
$telephone-big-name: 'telephone_big';
$telephone-big-x: 590px;
$telephone-big-y: 0px;
$telephone-big-offset-x: -590px;
$telephone-big-offset-y: 0px;
$telephone-big-width: 53px;
$telephone-big-height: 43px;
$telephone-big-total-width: 1645px;
$telephone-big-total-height: 578px;
$telephone-big-image: '/dist/img/sprite.png';
$telephone-big: (590px, 0px, -590px, 0px, 53px, 43px, 1645px, 578px, '/dist/img/sprite.png', 'telephone_big', );
$telephone-big-hover-name: 'telephone_big_hover';
$telephone-big-hover-x: 643px;
$telephone-big-hover-y: 0px;
$telephone-big-hover-offset-x: -643px;
$telephone-big-hover-offset-y: 0px;
$telephone-big-hover-width: 53px;
$telephone-big-hover-height: 43px;
$telephone-big-hover-total-width: 1645px;
$telephone-big-hover-total-height: 578px;
$telephone-big-hover-image: '/dist/img/sprite.png';
$telephone-big-hover: (643px, 0px, -643px, 0px, 53px, 43px, 1645px, 578px, '/dist/img/sprite.png', 'telephone_big_hover', );
$thebestofthebest-name: 'thebestofthebest';
$thebestofthebest-x: 494px;
$thebestofthebest-y: 0px;
$thebestofthebest-offset-x: -494px;
$thebestofthebest-offset-y: 0px;
$thebestofthebest-width: 47px;
$thebestofthebest-height: 47px;
$thebestofthebest-total-width: 1645px;
$thebestofthebest-total-height: 578px;
$thebestofthebest-image: '/dist/img/sprite.png';
$thebestofthebest: (494px, 0px, -494px, 0px, 47px, 47px, 1645px, 578px, '/dist/img/sprite.png', 'thebestofthebest', );
$spritesheet-width: 1645px;
$spritesheet-height: 578px;
$spritesheet-image: '/dist/img/sprite.png';
$spritesheet-sprites: ($callwomen-icon, $card, $cogwheel, $cogwheel-hover, $coins-icon, $email, $helpcircle-icon, $key-icon, $lemur-back, $next-arrow, $next-arrow-hover, $prev-arrow, $prev-arrow-hover, $repair-tools, $repairtools-icon, $rings-icon, $server, $server-hover, $smartphone, $telephone, $telephone-big, $telephone-big-hover, $thebestofthebest, );
$spritesheet: (1645px, 578px, '/dist/img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
