/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$card-name: 'card';
$card-x: 0px;
$card-y: 0px;
$card-offset-x: 0px;
$card-offset-y: 0px;
$card-width: 14px;
$card-height: 14px;
$card-total-width: 570px;
$card-total-height: 47px;
$card-image: '/dist/img/sprite.png';
$card: (0px, 0px, 0px, 0px, 14px, 14px, 570px, 47px, '/dist/img/sprite.png', 'card', );
$cogwheel-name: 'cogwheel';
$cogwheel-x: 202px;
$cogwheel-y: 0px;
$cogwheel-offset-x: -202px;
$cogwheel-offset-y: 0px;
$cogwheel-width: 43px;
$cogwheel-height: 43px;
$cogwheel-total-width: 570px;
$cogwheel-total-height: 47px;
$cogwheel-image: '/dist/img/sprite.png';
$cogwheel: (202px, 0px, -202px, 0px, 43px, 43px, 570px, 47px, '/dist/img/sprite.png', 'cogwheel', );
$cogwheel-hover-name: 'cogwheel_hover';
$cogwheel-hover-x: 331px;
$cogwheel-hover-y: 0px;
$cogwheel-hover-offset-x: -331px;
$cogwheel-hover-offset-y: 0px;
$cogwheel-hover-width: 43px;
$cogwheel-hover-height: 43px;
$cogwheel-hover-total-width: 570px;
$cogwheel-hover-total-height: 47px;
$cogwheel-hover-image: '/dist/img/sprite.png';
$cogwheel-hover: (331px, 0px, -331px, 0px, 43px, 43px, 570px, 47px, '/dist/img/sprite.png', 'cogwheel_hover', );
$email-name: 'email';
$email-x: 29px;
$email-y: 0px;
$email-offset-x: -29px;
$email-offset-y: 0px;
$email-width: 17px;
$email-height: 14px;
$email-total-width: 570px;
$email-total-height: 47px;
$email-image: '/dist/img/sprite.png';
$email: (29px, 0px, -29px, 0px, 17px, 14px, 570px, 47px, '/dist/img/sprite.png', 'email', );
$next-arrow-name: 'next_arrow';
$next-arrow-x: 74px;
$next-arrow-y: 0px;
$next-arrow-offset-x: -74px;
$next-arrow-offset-y: 0px;
$next-arrow-width: 32px;
$next-arrow-height: 32px;
$next-arrow-total-width: 570px;
$next-arrow-total-height: 47px;
$next-arrow-image: '/dist/img/sprite.png';
$next-arrow: (74px, 0px, -74px, 0px, 32px, 32px, 570px, 47px, '/dist/img/sprite.png', 'next_arrow', );
$next-arrow-hover-name: 'next_arrow_hover';
$next-arrow-hover-x: 106px;
$next-arrow-hover-y: 0px;
$next-arrow-hover-offset-x: -106px;
$next-arrow-hover-offset-y: 0px;
$next-arrow-hover-width: 32px;
$next-arrow-hover-height: 32px;
$next-arrow-hover-total-width: 570px;
$next-arrow-hover-total-height: 47px;
$next-arrow-hover-image: '/dist/img/sprite.png';
$next-arrow-hover: (106px, 0px, -106px, 0px, 32px, 32px, 570px, 47px, '/dist/img/sprite.png', 'next_arrow_hover', );
$prev-arrow-name: 'prev_arrow';
$prev-arrow-x: 138px;
$prev-arrow-y: 0px;
$prev-arrow-offset-x: -138px;
$prev-arrow-offset-y: 0px;
$prev-arrow-width: 32px;
$prev-arrow-height: 32px;
$prev-arrow-total-width: 570px;
$prev-arrow-total-height: 47px;
$prev-arrow-image: '/dist/img/sprite.png';
$prev-arrow: (138px, 0px, -138px, 0px, 32px, 32px, 570px, 47px, '/dist/img/sprite.png', 'prev_arrow', );
$prev-arrow-hover-name: 'prev_arrow_hover';
$prev-arrow-hover-x: 170px;
$prev-arrow-hover-y: 0px;
$prev-arrow-hover-offset-x: -170px;
$prev-arrow-hover-offset-y: 0px;
$prev-arrow-hover-width: 32px;
$prev-arrow-hover-height: 32px;
$prev-arrow-hover-total-width: 570px;
$prev-arrow-hover-total-height: 47px;
$prev-arrow-hover-image: '/dist/img/sprite.png';
$prev-arrow-hover: (170px, 0px, -170px, 0px, 32px, 32px, 570px, 47px, '/dist/img/sprite.png', 'prev_arrow_hover', );
$repair-tools-name: 'repair-tools';
$repair-tools-x: 374px;
$repair-tools-y: 0px;
$repair-tools-offset-x: -374px;
$repair-tools-offset-y: 0px;
$repair-tools-width: 43px;
$repair-tools-height: 43px;
$repair-tools-total-width: 570px;
$repair-tools-total-height: 47px;
$repair-tools-image: '/dist/img/sprite.png';
$repair-tools: (374px, 0px, -374px, 0px, 43px, 43px, 570px, 47px, '/dist/img/sprite.png', 'repair-tools', );
$server-name: 'server';
$server-x: 245px;
$server-y: 0px;
$server-offset-x: -245px;
$server-offset-y: 0px;
$server-width: 43px;
$server-height: 43px;
$server-total-width: 570px;
$server-total-height: 47px;
$server-image: '/dist/img/sprite.png';
$server: (245px, 0px, -245px, 0px, 43px, 43px, 570px, 47px, '/dist/img/sprite.png', 'server', );
$server-hover-name: 'server_hover';
$server-hover-x: 288px;
$server-hover-y: 0px;
$server-hover-offset-x: -288px;
$server-hover-offset-y: 0px;
$server-hover-width: 43px;
$server-hover-height: 43px;
$server-hover-total-width: 570px;
$server-hover-total-height: 47px;
$server-hover-image: '/dist/img/sprite.png';
$server-hover: (288px, 0px, -288px, 0px, 43px, 43px, 570px, 47px, '/dist/img/sprite.png', 'server_hover', );
$smartphone-name: 'smartphone';
$smartphone-x: 46px;
$smartphone-y: 0px;
$smartphone-offset-x: -46px;
$smartphone-offset-y: 0px;
$smartphone-width: 28px;
$smartphone-height: 43px;
$smartphone-total-width: 570px;
$smartphone-total-height: 47px;
$smartphone-image: '/dist/img/sprite.png';
$smartphone: (46px, 0px, -46px, 0px, 28px, 43px, 570px, 47px, '/dist/img/sprite.png', 'smartphone', );
$telephone-name: 'telephone';
$telephone-x: 14px;
$telephone-y: 0px;
$telephone-offset-x: -14px;
$telephone-offset-y: 0px;
$telephone-width: 15px;
$telephone-height: 14px;
$telephone-total-width: 570px;
$telephone-total-height: 47px;
$telephone-image: '/dist/img/sprite.png';
$telephone: (14px, 0px, -14px, 0px, 15px, 14px, 570px, 47px, '/dist/img/sprite.png', 'telephone', );
$telephone-big-name: 'telephone_big';
$telephone-big-x: 464px;
$telephone-big-y: 0px;
$telephone-big-offset-x: -464px;
$telephone-big-offset-y: 0px;
$telephone-big-width: 53px;
$telephone-big-height: 43px;
$telephone-big-total-width: 570px;
$telephone-big-total-height: 47px;
$telephone-big-image: '/dist/img/sprite.png';
$telephone-big: (464px, 0px, -464px, 0px, 53px, 43px, 570px, 47px, '/dist/img/sprite.png', 'telephone_big', );
$telephone-big-hover-name: 'telephone_big_hover';
$telephone-big-hover-x: 517px;
$telephone-big-hover-y: 0px;
$telephone-big-hover-offset-x: -517px;
$telephone-big-hover-offset-y: 0px;
$telephone-big-hover-width: 53px;
$telephone-big-hover-height: 43px;
$telephone-big-hover-total-width: 570px;
$telephone-big-hover-total-height: 47px;
$telephone-big-hover-image: '/dist/img/sprite.png';
$telephone-big-hover: (517px, 0px, -517px, 0px, 53px, 43px, 570px, 47px, '/dist/img/sprite.png', 'telephone_big_hover', );
$thebestofthebest-name: 'thebestofthebest';
$thebestofthebest-x: 417px;
$thebestofthebest-y: 0px;
$thebestofthebest-offset-x: -417px;
$thebestofthebest-offset-y: 0px;
$thebestofthebest-width: 47px;
$thebestofthebest-height: 47px;
$thebestofthebest-total-width: 570px;
$thebestofthebest-total-height: 47px;
$thebestofthebest-image: '/dist/img/sprite.png';
$thebestofthebest: (417px, 0px, -417px, 0px, 47px, 47px, 570px, 47px, '/dist/img/sprite.png', 'thebestofthebest', );
$spritesheet-width: 570px;
$spritesheet-height: 47px;
$spritesheet-image: '/dist/img/sprite.png';
$spritesheet-sprites: ($card, $cogwheel, $cogwheel-hover, $email, $next-arrow, $next-arrow-hover, $prev-arrow, $prev-arrow-hover, $repair-tools, $server, $server-hover, $smartphone, $telephone, $telephone-big, $telephone-big-hover, $thebestofthebest, );
$spritesheet: (570px, 47px, '/dist/img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
