/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$card-name: 'card';
$card-x: 86px;
$card-y: 71px;
$card-offset-x: -86px;
$card-offset-y: -71px;
$card-width: 14px;
$card-height: 14px;
$card-total-width: 149px;
$card-total-height: 129px;
$card-image: '/dist/img/sprite.png';
$card: (86px, 71px, -86px, -71px, 14px, 14px, 149px, 129px, '/dist/img/sprite.png', 'card', );
$cogwheel-name: 'cogwheel';
$cogwheel-x: 0px;
$cogwheel-y: 86px;
$cogwheel-offset-x: 0px;
$cogwheel-offset-y: -86px;
$cogwheel-width: 43px;
$cogwheel-height: 43px;
$cogwheel-total-width: 149px;
$cogwheel-total-height: 129px;
$cogwheel-image: '/dist/img/sprite.png';
$cogwheel: (0px, 86px, 0px, -86px, 43px, 43px, 149px, 129px, '/dist/img/sprite.png', 'cogwheel', );
$cogwheel-hover-name: 'cogwheel_hover';
$cogwheel-hover-x: 0px;
$cogwheel-hover-y: 43px;
$cogwheel-hover-offset-x: 0px;
$cogwheel-hover-offset-y: -43px;
$cogwheel-hover-width: 43px;
$cogwheel-hover-height: 43px;
$cogwheel-hover-total-width: 149px;
$cogwheel-hover-total-height: 129px;
$cogwheel-hover-image: '/dist/img/sprite.png';
$cogwheel-hover: (0px, 43px, 0px, -43px, 43px, 43px, 149px, 129px, '/dist/img/sprite.png', 'cogwheel_hover', );
$email-name: 'email';
$email-x: 86px;
$email-y: 43px;
$email-offset-x: -86px;
$email-offset-y: -43px;
$email-width: 17px;
$email-height: 14px;
$email-total-width: 149px;
$email-total-height: 129px;
$email-image: '/dist/img/sprite.png';
$email: (86px, 43px, -86px, -43px, 17px, 14px, 149px, 129px, '/dist/img/sprite.png', 'email', );
$repair-tools-name: 'repair-tools';
$repair-tools-x: 106px;
$repair-tools-y: 0px;
$repair-tools-offset-x: -106px;
$repair-tools-offset-y: 0px;
$repair-tools-width: 43px;
$repair-tools-height: 43px;
$repair-tools-total-width: 149px;
$repair-tools-total-height: 129px;
$repair-tools-image: '/dist/img/sprite.png';
$repair-tools: (106px, 0px, -106px, 0px, 43px, 43px, 149px, 129px, '/dist/img/sprite.png', 'repair-tools', );
$repair-tools-hover-name: 'repair-tools_hover';
$repair-tools-hover-x: 106px;
$repair-tools-hover-y: 43px;
$repair-tools-hover-offset-x: -106px;
$repair-tools-hover-offset-y: -43px;
$repair-tools-hover-width: 43px;
$repair-tools-hover-height: 43px;
$repair-tools-hover-total-width: 149px;
$repair-tools-hover-total-height: 129px;
$repair-tools-hover-image: '/dist/img/sprite.png';
$repair-tools-hover: (106px, 43px, -106px, -43px, 43px, 43px, 149px, 129px, '/dist/img/sprite.png', 'repair-tools_hover', );
$server-name: 'server';
$server-x: 43px;
$server-y: 43px;
$server-offset-x: -43px;
$server-offset-y: -43px;
$server-width: 43px;
$server-height: 43px;
$server-total-width: 149px;
$server-total-height: 129px;
$server-image: '/dist/img/sprite.png';
$server: (43px, 43px, -43px, -43px, 43px, 43px, 149px, 129px, '/dist/img/sprite.png', 'server', );
$server-hover-name: 'server_hover';
$server-hover-x: 43px;
$server-hover-y: 86px;
$server-hover-offset-x: -43px;
$server-hover-offset-y: -86px;
$server-hover-width: 43px;
$server-hover-height: 43px;
$server-hover-total-width: 149px;
$server-hover-total-height: 129px;
$server-hover-image: '/dist/img/sprite.png';
$server-hover: (43px, 86px, -43px, -86px, 43px, 43px, 149px, 129px, '/dist/img/sprite.png', 'server_hover', );
$smartphone-name: 'smartphone';
$smartphone-x: 86px;
$smartphone-y: 86px;
$smartphone-offset-x: -86px;
$smartphone-offset-y: -86px;
$smartphone-width: 28px;
$smartphone-height: 43px;
$smartphone-total-width: 149px;
$smartphone-total-height: 129px;
$smartphone-image: '/dist/img/sprite.png';
$smartphone: (86px, 86px, -86px, -86px, 28px, 43px, 149px, 129px, '/dist/img/sprite.png', 'smartphone', );
$smartphone-hover-name: 'smartphone_hover';
$smartphone-hover-x: 114px;
$smartphone-hover-y: 86px;
$smartphone-hover-offset-x: -114px;
$smartphone-hover-offset-y: -86px;
$smartphone-hover-width: 28px;
$smartphone-hover-height: 43px;
$smartphone-hover-total-width: 149px;
$smartphone-hover-total-height: 129px;
$smartphone-hover-image: '/dist/img/sprite.png';
$smartphone-hover: (114px, 86px, -114px, -86px, 28px, 43px, 149px, 129px, '/dist/img/sprite.png', 'smartphone_hover', );
$telephone-name: 'telephone';
$telephone-x: 86px;
$telephone-y: 57px;
$telephone-offset-x: -86px;
$telephone-offset-y: -57px;
$telephone-width: 15px;
$telephone-height: 14px;
$telephone-total-width: 149px;
$telephone-total-height: 129px;
$telephone-image: '/dist/img/sprite.png';
$telephone: (86px, 57px, -86px, -57px, 15px, 14px, 149px, 129px, '/dist/img/sprite.png', 'telephone', );
$telephone-big-name: 'telephone_big';
$telephone-big-x: 53px;
$telephone-big-y: 0px;
$telephone-big-offset-x: -53px;
$telephone-big-offset-y: 0px;
$telephone-big-width: 53px;
$telephone-big-height: 43px;
$telephone-big-total-width: 149px;
$telephone-big-total-height: 129px;
$telephone-big-image: '/dist/img/sprite.png';
$telephone-big: (53px, 0px, -53px, 0px, 53px, 43px, 149px, 129px, '/dist/img/sprite.png', 'telephone_big', );
$telephone-big-hover-name: 'telephone_big_hover';
$telephone-big-hover-x: 0px;
$telephone-big-hover-y: 0px;
$telephone-big-hover-offset-x: 0px;
$telephone-big-hover-offset-y: 0px;
$telephone-big-hover-width: 53px;
$telephone-big-hover-height: 43px;
$telephone-big-hover-total-width: 149px;
$telephone-big-hover-total-height: 129px;
$telephone-big-hover-image: '/dist/img/sprite.png';
$telephone-big-hover: (0px, 0px, 0px, 0px, 53px, 43px, 149px, 129px, '/dist/img/sprite.png', 'telephone_big_hover', );
$spritesheet-width: 149px;
$spritesheet-height: 129px;
$spritesheet-image: '/dist/img/sprite.png';
$spritesheet-sprites: ($card, $cogwheel, $cogwheel-hover, $email, $repair-tools, $repair-tools-hover, $server, $server-hover, $smartphone, $smartphone-hover, $telephone, $telephone-big, $telephone-big-hover, );
$spritesheet: (149px, 129px, '/dist/img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
