/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$callwomen-icon-name: 'callwomen_icon';
$callwomen-icon-x: 0px;
$callwomen-icon-y: 690px;
$callwomen-icon-offset-x: 0px;
$callwomen-icon-offset-y: -690px;
$callwomen-icon-width: 44px;
$callwomen-icon-height: 55px;
$callwomen-icon-total-width: 241px;
$callwomen-icon-total-height: 969px;
$callwomen-icon-image: '/dist/img/sprite.png';
$callwomen-icon: (0px, 690px, 0px, -690px, 44px, 55px, 241px, 969px, '/dist/img/sprite.png', 'callwomen_icon', );
$card-name: 'card';
$card-x: 0px;
$card-y: 0px;
$card-offset-x: 0px;
$card-offset-y: 0px;
$card-width: 14px;
$card-height: 14px;
$card-total-width: 241px;
$card-total-height: 969px;
$card-image: '/dist/img/sprite.png';
$card: (0px, 0px, 0px, 0px, 14px, 14px, 241px, 969px, '/dist/img/sprite.png', 'card', );
$cogwheel-name: 'cogwheel';
$cogwheel-x: 0px;
$cogwheel-y: 190px;
$cogwheel-offset-x: 0px;
$cogwheel-offset-y: -190px;
$cogwheel-width: 43px;
$cogwheel-height: 43px;
$cogwheel-total-width: 241px;
$cogwheel-total-height: 969px;
$cogwheel-image: '/dist/img/sprite.png';
$cogwheel: (0px, 190px, 0px, -190px, 43px, 43px, 241px, 969px, '/dist/img/sprite.png', 'cogwheel', );
$cogwheel-hover-name: 'cogwheel_hover';
$cogwheel-hover-x: 0px;
$cogwheel-hover-y: 362px;
$cogwheel-hover-offset-x: 0px;
$cogwheel-hover-offset-y: -362px;
$cogwheel-hover-width: 43px;
$cogwheel-hover-height: 43px;
$cogwheel-hover-total-width: 241px;
$cogwheel-hover-total-height: 969px;
$cogwheel-hover-image: '/dist/img/sprite.png';
$cogwheel-hover: (0px, 362px, 0px, -362px, 43px, 43px, 241px, 969px, '/dist/img/sprite.png', 'cogwheel_hover', );
$coins-icon-name: 'coins_icon';
$coins-icon-x: 0px;
$coins-icon-y: 913px;
$coins-icon-offset-x: 0px;
$coins-icon-offset-y: -913px;
$coins-icon-width: 49px;
$coins-icon-height: 56px;
$coins-icon-total-width: 241px;
$coins-icon-total-height: 969px;
$coins-icon-image: '/dist/img/sprite.png';
$coins-icon: (0px, 913px, 0px, -913px, 49px, 56px, 241px, 969px, '/dist/img/sprite.png', 'coins_icon', );
$email-name: 'email';
$email-x: 0px;
$email-y: 14px;
$email-offset-x: 0px;
$email-offset-y: -14px;
$email-width: 17px;
$email-height: 14px;
$email-total-width: 241px;
$email-total-height: 969px;
$email-image: '/dist/img/sprite.png';
$email: (0px, 14px, 0px, -14px, 17px, 14px, 241px, 969px, '/dist/img/sprite.png', 'email', );
$footer-logo-name: 'footer_logo';
$footer-logo-x: 0px;
$footer-logo-y: 581px;
$footer-logo-offset-x: 0px;
$footer-logo-offset-y: -581px;
$footer-logo-width: 241px;
$footer-logo-height: 54px;
$footer-logo-total-width: 241px;
$footer-logo-total-height: 969px;
$footer-logo-image: '/dist/img/sprite.png';
$footer-logo: (0px, 581px, 0px, -581px, 241px, 54px, 241px, 969px, '/dist/img/sprite.png', 'footer_logo', );
$helpcircle-icon-name: 'helpcircle_icon';
$helpcircle-icon-x: 0px;
$helpcircle-icon-y: 857px;
$helpcircle-icon-offset-x: 0px;
$helpcircle-icon-offset-y: -857px;
$helpcircle-icon-width: 55px;
$helpcircle-icon-height: 56px;
$helpcircle-icon-total-width: 241px;
$helpcircle-icon-total-height: 969px;
$helpcircle-icon-image: '/dist/img/sprite.png';
$helpcircle-icon: (0px, 857px, 0px, -857px, 55px, 56px, 241px, 969px, '/dist/img/sprite.png', 'helpcircle_icon', );
$key-icon-name: 'key_icon';
$key-icon-x: 0px;
$key-icon-y: 635px;
$key-icon-offset-x: 0px;
$key-icon-offset-y: -635px;
$key-icon-width: 33px;
$key-icon-height: 55px;
$key-icon-total-width: 241px;
$key-icon-total-height: 969px;
$key-icon-image: '/dist/img/sprite.png';
$key-icon: (0px, 635px, 0px, -635px, 33px, 55px, 241px, 969px, '/dist/img/sprite.png', 'key_icon', );
$next-arrow-name: 'next_arrow';
$next-arrow-x: 0px;
$next-arrow-y: 62px;
$next-arrow-offset-x: 0px;
$next-arrow-offset-y: -62px;
$next-arrow-width: 32px;
$next-arrow-height: 32px;
$next-arrow-total-width: 241px;
$next-arrow-total-height: 969px;
$next-arrow-image: '/dist/img/sprite.png';
$next-arrow: (0px, 62px, 0px, -62px, 32px, 32px, 241px, 969px, '/dist/img/sprite.png', 'next_arrow', );
$next-arrow-hover-name: 'next_arrow_hover';
$next-arrow-hover-x: 0px;
$next-arrow-hover-y: 158px;
$next-arrow-hover-offset-x: 0px;
$next-arrow-hover-offset-y: -158px;
$next-arrow-hover-width: 32px;
$next-arrow-hover-height: 32px;
$next-arrow-hover-total-width: 241px;
$next-arrow-hover-total-height: 969px;
$next-arrow-hover-image: '/dist/img/sprite.png';
$next-arrow-hover: (0px, 158px, 0px, -158px, 32px, 32px, 241px, 969px, '/dist/img/sprite.png', 'next_arrow_hover', );
$prev-arrow-name: 'prev_arrow';
$prev-arrow-x: 0px;
$prev-arrow-y: 94px;
$prev-arrow-offset-x: 0px;
$prev-arrow-offset-y: -94px;
$prev-arrow-width: 32px;
$prev-arrow-height: 32px;
$prev-arrow-total-width: 241px;
$prev-arrow-total-height: 969px;
$prev-arrow-image: '/dist/img/sprite.png';
$prev-arrow: (0px, 94px, 0px, -94px, 32px, 32px, 241px, 969px, '/dist/img/sprite.png', 'prev_arrow', );
$prev-arrow-hover-name: 'prev_arrow_hover';
$prev-arrow-hover-x: 0px;
$prev-arrow-hover-y: 126px;
$prev-arrow-hover-offset-x: 0px;
$prev-arrow-hover-offset-y: -126px;
$prev-arrow-hover-width: 32px;
$prev-arrow-hover-height: 32px;
$prev-arrow-hover-total-width: 241px;
$prev-arrow-hover-total-height: 969px;
$prev-arrow-hover-image: '/dist/img/sprite.png';
$prev-arrow-hover: (0px, 126px, 0px, -126px, 32px, 32px, 241px, 969px, '/dist/img/sprite.png', 'prev_arrow_hover', );
$quote-name: 'quote';
$quote-x: 0px;
$quote-y: 42px;
$quote-offset-x: 0px;
$quote-offset-y: -42px;
$quote-width: 28px;
$quote-height: 20px;
$quote-total-width: 241px;
$quote-total-height: 969px;
$quote-image: '/dist/img/sprite.png';
$quote: (0px, 42px, 0px, -42px, 28px, 20px, 241px, 969px, '/dist/img/sprite.png', 'quote', );
$repair-tools-name: 'repair-tools';
$repair-tools-x: 0px;
$repair-tools-y: 405px;
$repair-tools-offset-x: 0px;
$repair-tools-offset-y: -405px;
$repair-tools-width: 43px;
$repair-tools-height: 43px;
$repair-tools-total-width: 241px;
$repair-tools-total-height: 969px;
$repair-tools-image: '/dist/img/sprite.png';
$repair-tools: (0px, 405px, 0px, -405px, 43px, 43px, 241px, 969px, '/dist/img/sprite.png', 'repair-tools', );
$repairtools-icon-name: 'repairtools_icon';
$repairtools-icon-x: 0px;
$repairtools-icon-y: 801px;
$repairtools-icon-offset-x: 0px;
$repairtools-icon-offset-y: -801px;
$repairtools-icon-width: 55px;
$repairtools-icon-height: 56px;
$repairtools-icon-total-width: 241px;
$repairtools-icon-total-height: 969px;
$repairtools-icon-image: '/dist/img/sprite.png';
$repairtools-icon: (0px, 801px, 0px, -801px, 55px, 56px, 241px, 969px, '/dist/img/sprite.png', 'repairtools_icon', );
$rings-icon-name: 'rings_icon';
$rings-icon-x: 0px;
$rings-icon-y: 745px;
$rings-icon-offset-x: 0px;
$rings-icon-offset-y: -745px;
$rings-icon-width: 55px;
$rings-icon-height: 56px;
$rings-icon-total-width: 241px;
$rings-icon-total-height: 969px;
$rings-icon-image: '/dist/img/sprite.png';
$rings-icon: (0px, 745px, 0px, -745px, 55px, 56px, 241px, 969px, '/dist/img/sprite.png', 'rings_icon', );
$server-name: 'server';
$server-x: 0px;
$server-y: 491px;
$server-offset-x: 0px;
$server-offset-y: -491px;
$server-width: 43px;
$server-height: 43px;
$server-total-width: 241px;
$server-total-height: 969px;
$server-image: '/dist/img/sprite.png';
$server: (0px, 491px, 0px, -491px, 43px, 43px, 241px, 969px, '/dist/img/sprite.png', 'server', );
$server-hover-name: 'server_hover';
$server-hover-x: 0px;
$server-hover-y: 448px;
$server-hover-offset-x: 0px;
$server-hover-offset-y: -448px;
$server-hover-width: 43px;
$server-hover-height: 43px;
$server-hover-total-width: 241px;
$server-hover-total-height: 969px;
$server-hover-image: '/dist/img/sprite.png';
$server-hover: (0px, 448px, 0px, -448px, 43px, 43px, 241px, 969px, '/dist/img/sprite.png', 'server_hover', );
$smartphone-name: 'smartphone';
$smartphone-x: 0px;
$smartphone-y: 233px;
$smartphone-offset-x: 0px;
$smartphone-offset-y: -233px;
$smartphone-width: 28px;
$smartphone-height: 43px;
$smartphone-total-width: 241px;
$smartphone-total-height: 969px;
$smartphone-image: '/dist/img/sprite.png';
$smartphone: (0px, 233px, 0px, -233px, 28px, 43px, 241px, 969px, '/dist/img/sprite.png', 'smartphone', );
$telephone-name: 'telephone';
$telephone-x: 0px;
$telephone-y: 28px;
$telephone-offset-x: 0px;
$telephone-offset-y: -28px;
$telephone-width: 15px;
$telephone-height: 14px;
$telephone-total-width: 241px;
$telephone-total-height: 969px;
$telephone-image: '/dist/img/sprite.png';
$telephone: (0px, 28px, 0px, -28px, 15px, 14px, 241px, 969px, '/dist/img/sprite.png', 'telephone', );
$telephone-big-name: 'telephone_big';
$telephone-big-x: 0px;
$telephone-big-y: 276px;
$telephone-big-offset-x: 0px;
$telephone-big-offset-y: -276px;
$telephone-big-width: 53px;
$telephone-big-height: 43px;
$telephone-big-total-width: 241px;
$telephone-big-total-height: 969px;
$telephone-big-image: '/dist/img/sprite.png';
$telephone-big: (0px, 276px, 0px, -276px, 53px, 43px, 241px, 969px, '/dist/img/sprite.png', 'telephone_big', );
$telephone-big-hover-name: 'telephone_big_hover';
$telephone-big-hover-x: 0px;
$telephone-big-hover-y: 319px;
$telephone-big-hover-offset-x: 0px;
$telephone-big-hover-offset-y: -319px;
$telephone-big-hover-width: 53px;
$telephone-big-hover-height: 43px;
$telephone-big-hover-total-width: 241px;
$telephone-big-hover-total-height: 969px;
$telephone-big-hover-image: '/dist/img/sprite.png';
$telephone-big-hover: (0px, 319px, 0px, -319px, 53px, 43px, 241px, 969px, '/dist/img/sprite.png', 'telephone_big_hover', );
$thebestofthebest-name: 'thebestofthebest';
$thebestofthebest-x: 0px;
$thebestofthebest-y: 534px;
$thebestofthebest-offset-x: 0px;
$thebestofthebest-offset-y: -534px;
$thebestofthebest-width: 47px;
$thebestofthebest-height: 47px;
$thebestofthebest-total-width: 241px;
$thebestofthebest-total-height: 969px;
$thebestofthebest-image: '/dist/img/sprite.png';
$thebestofthebest: (0px, 534px, 0px, -534px, 47px, 47px, 241px, 969px, '/dist/img/sprite.png', 'thebestofthebest', );
$spritesheet-width: 241px;
$spritesheet-height: 969px;
$spritesheet-image: '/dist/img/sprite.png';
$spritesheet-sprites: ($callwomen-icon, $card, $cogwheel, $cogwheel-hover, $coins-icon, $email, $footer-logo, $helpcircle-icon, $key-icon, $next-arrow, $next-arrow-hover, $prev-arrow, $prev-arrow-hover, $quote, $repair-tools, $repairtools-icon, $rings-icon, $server, $server-hover, $smartphone, $telephone, $telephone-big, $telephone-big-hover, $thebestofthebest, );
$spritesheet: (241px, 969px, '/dist/img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
