html {
    a {
        outline: none !important;
        transition: all ease-in-out 0.05s;
        color: $yellow;
        text-decoration: underline;
    }
    font-family: $clearsansRegular;
    // font-kerning: 4.4em;
    letter-spacing: 0.09em;
    button,
    div,
    input {
        transition: all ease-in-out 0.2s;
        // box-sizing: border-box;
        box-sizing: content-box;
    }
}
body {
    color: $darkGrey;
    // buttons
    .type__button {
        border-radius: 2px;
        background-color: $yellow;
        color: #fff;
        width: auto;
        height: 41px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.85em;
        letter-spacing: 0;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
        border: none;
        text-align: center;
        padding: 0 21px;
        margin: 1em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
        text-decoration: none;
        &:hover {
            background-color: $orange;
        }
        &_dark {
            @extend .type__button;
            background-color: $darkGrey;
            &:hover {
                background-color: $blackColor;
            }
        }
    }
    button,
    input[type='button'] {
        @extend .type__button;
    }
    // content width class for extend
    .content_width {
        padding: 0 1em;
        max-width: $mainMaxWidt;
        min-width: $mainMinWidt;
        margin: 0 auto;
    }
    // номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона
    .phone__number {
        font-family: $clearsansThinRegular;
        // font-size: 26px;
        font-size: 1.6em;
        font-weight: 200;
        line-height: 20px;
        text-align: right;
        text-decoration: none;
        // font-kerning: 9em;
        &_headercolor {
            color: $grey;
        }
        &_footercolor {}
    }
    // иконки категорий на главной
    .phone__icon__big {
        @include sprite($telephone_big);
        // transition: none;
    }
    .meh__icon {
        @include sprite($cogwheel);
        // transition: none;
    }
    .smartphone__icon {
        @include sprite($smartphone);
        // transition: none;
    }
    .tools__icon {
        @include sprite($repair-tools);
        // transition: none;
    }
    .server__icon {
        @include sprite($server);
        // transition: none;
    }
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    .left__heading {
        @extend .content_width;
        margin: 0 auto;
        // padding: 2.9em 0 2.9em 0;
        padding-top: 2.9em;
        padding-bottom: 2.9em;
        box-sizing: content-box;
        &_withbuttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-flow: row nowrap;
            // background-color: $lightGrey;
        }
        &__naming {
            display: flex;
            justify-content: center;
            align-items: center;
            // заголовок
            h1 {
                color: $darkGrey;
                font-weight: 500;
                text-align: center;
                text-transform: uppercase;
                // font-size: 30pt;
                // letter-spacing: 25em;
            }
            // заголовок
            h2 {
                // font-size: 24pt;
                color: $darkGrey;
                font-weight: 500;
                text-align: center;
                text-transform: uppercase;
                // letter-spacing: 25em;
            }
            // смотреть все/подробнее
            // смотреть все/подробнее
            // смотреть все/подробнее
            // смотреть все/подробнее
            &__link {
                color: $yellow;
                font-family: $clearsansThinRegular;
                font-size: 15px;
                /* Приближение из-за подстановки шрифтов */
                font-weight: 400;
                line-height: 20px;
                /* Приближение из-за подстановки шрифтов */
                text-align: right;
                letter-spacing: 0;
                &:hover {
                    color: $darkGrey;
                }
                &_margin {
                    margin: 0.6em 0 0 3em;
                }
            }
        }
        // кнопки листания слайдера тарифов
        // кнопки листания слайдера тарифов
        // кнопки листания слайдера тарифов
        // кнопки листания слайдера тарифов
        // кнопки листания слайдера тарифов
        // кнопки листания слайдера тарифов
        &__buttons__wr {
            width: 72px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-flow: row nowrap;
            &__prev {
                @include sprite($prev_arrow);
                cursor: pointer;
                // transition:all ease .01s;
                &:hover {
                    @include sprite($prev_arrow_hover);
                }
            }
            &__next {
                @include sprite($next_arrow);
                cursor: pointer;
                &:hover {
                    @include sprite($next_arrow_hover);
                }
            }
        }
    }
    // шапка
    // шапка
    // шапка
    // шапка
    // шапка
    // шапка
    // шапка
    // шапка
    @import "elements/header";
    // categorys on main
    // categorys on main
    // categorys on main
    // categorys on main
    // categorys on main
    // categorys on main
    // categorys on main
    @import "elements/_categorys_onmain";
    @import "elements/_tarifs_slider";
    @import "elements/_details_blocks";
}
