html {
    font-family: $clearsansRegular;
    // font-kerning: 4.4em;
    letter-spacing: 0;
    p {
        font-family: $clearsansLightRegular;
        color: $darkGrey;
        font-size: .9em;
        line-height: 24px;
        text-align: left;
        margin-top: 0;
        &.quote {
            font-size: 1.2em;
            color: $darkGrey;
            font-weight: bold;
            width: 413px;
            margin: 3em auto 3em auto;
            position: relative;
            &:before {
                content: "";
                display: block;
                @include sprite($quote);
                position: absolute;
                left: -2.5em;
                top: 0.5em;
            }
        }
    }
    // ul {
    //     padding: 0;
    //     margin: 0;
    //     li {
    //         list-style-type: none;
    //         color: lighten($darkGrey,40%);
    //         font-size: 0.9em;
    //         font-weight: 400;
    //         line-height: 50px;
    //         text-align: left;
    //         padding:0 1em 0 2em;
    //         margin:0 0 1em 0;
    //         // outline:1px dotted red;
    //         background-color:$lightGrey;
    //     }
    // }
    table {
                cellspacing:1em;
        tr {
            th {
                list-style-type: none;
                color: lighten($darkGrey, 40%);
                font-size: 0.9em;
                font-weight: bold;
                line-height: 50px;
                text-align: left;
                padding: 0 1em 0 2em;
                // margin: 0 0 1em 0;
                border-bottom: 1em;
                border-right: 0.5em;
                border-style: solid;
                border-color: #fff;
                background-color: $lightGrey;
            }
            td {
                list-style-type: none;
                color: lighten($darkGrey, 40%);
                font-size: 0.9em;
                font-weight: 400;
                line-height: 50px;
                text-align: left;
                padding: 0 1em 0 2em;
                // margin: 0 0 1em 0;
                border-bottom: 1em;
                border-right: 0.5em;
                border-style: solid;
                border-color: #fff;
                background-color: $lightGrey;


            }
        }
    }
    a {
        outline: none !important;
        transition: all ease-in-out 0.05s;
        color: $yellow;
        text-decoration: underline;
        &:hover {
            // color: darken($yellow, 10%);
        }
    }
    button,
    div,
    input {
        transition: all ease-in-out 0.2s;
        // box-sizing: border-box;
        box-sizing: content-box;
    }
    // заголовок
    h1 {
        color: $darkGrey;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        // font-size: 30pt;
        // letter-spacing: 25em;
        position: relative;
        z-index: 5;
    }
    // заголовок
    h2 {
        // font-size: 24pt;
        color: $darkGrey;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        z-index: 5;
        margin: 2.5em 0 1.5em 0;
        // letter-spacing: 25em;
    }
    h3 {
        // font-size: 24pt;
        color: $darkGrey;
        // text-transform: uppercase;
        position: relative;
        z-index: 5;
        margin: 2.5em 0 1.5em 0;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        // letter-spacing: 25em;
    }
    .h_content {
        text-transform: none;
    }
    .swiper-button-disabled {
        opacity: 0.5;
    }
}

body {
    color: $darkGrey;
    // buttons
    .type__button {
        border-radius: 2px;
        background-color: $yellow;
        color: #fff;
        width: auto;
        height: 41px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.85em;
        letter-spacing: 0;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
        border: none;
        text-align: center;
        padding: 0 21px;
        margin: 1em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
        text-decoration: none;
        &:hover {
            background-color: $orange;
        }
        &_dark {
            @extend .type__button;
            background-color: $darkGrey;
            &:hover {
                background-color: $blackColor;
            }
        }
    }
    aside {
        width: $asideWidt;
    }
    article {
        width: $articleWidt;
        // outline:1px dotted red;
    }
    section {}
    button,
    input[type='button'] {
        @extend .type__button;
    }
    // content width class for extend
    .content_width {
        padding: 0 1em;
        max-width: $mainMaxWidt;
        min-width: $mainMinWidt;
        margin: 0 auto;
    }
    .content_width2 {
        padding: 0 1em;
        width: $anyPageContentWidt;
        margin: 0 auto;
    }
    // номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона
    .phone__number {
        font-family: $clearsansThinRegular;
        // font-size: 26px;
        font-size: 1.6em;
        font-weight: 200;
        line-height: 20px;
        text-align: right;
        text-decoration: none;
        // font-kerning: 9em;
        &_headercolor {
            color: $grey;
        }
        &_footercolor {}
    }
    
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    // h2 заголовок на главной
    .left__heading {
        @extend .content_width;
        margin: 0 auto;
        // padding: 2.9em 0 2.9em 0;
        padding-top: 2.9em;
        padding-bottom: 2.9em;
        box-sizing: content-box;
        &_withbuttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-flow: row nowrap;
            // background-color: $lightGrey;
        }
        &_withoutbuttons {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-flow: row nowrap;
            // padding: 3.5em inherit 3.5em inherit;
            // background-color: $lightGrey;
        }
        &__naming {
            display: flex;
            justify-content: center;
            align-items: center;
            h1 {
                margin: inherit;
            }
            h2 {
                margin: inherit;
            }
            // смотреть все/подробнее
            // смотреть все/подробнее
            // смотреть все/подробнее
            // смотреть все/подробнее
            &__link {
                color: $yellow;
                font-family: $clearsansThinRegular;
                font-size: 15px;
                // /* Приближение из-за подстановки шрифтов */
                font-weight: 400;
                line-height: 20px;
                // /* Приближение из-за подстановки шрифтов */
                text-align: right;
                letter-spacing: 0;
                &:hover {
                    color: $darkGrey;
                }
                &_margin {
                    margin: 0.6em 0 0 3em;
                }
            }
        }
        // кнопки листания слайдера тарифов
        // кнопки листания слайдера тарифов
        // кнопки листания слайдера тарифов
        // кнопки листания слайдера тарифов
        // кнопки листания слайдера тарифов
        // кнопки листания слайдера тарифов
        &__buttons__wr {
            width: 72px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-flow: row nowrap;
        }
    }
    .prev__button {
        @include sprite($prev_arrow);
        cursor: pointer;
        // transition:all ease .01s;
        z-index: 9999;
        left: 0;
        top: 22px;
        background-size: auto;
        &_darkfirst {
            @include sprite($prev_arrow_hover);
            cursor: pointer;
            // transition:all ease .01s;
            z-index: 9999;
            left: 0;
            top: 22px;
            background-size: auto;
            &:hover {
                @include sprite($prev_arrow);
            }
        }
        &:hover {
            @include sprite($prev_arrow_hover);
        }
    }
    .next__button {
        @include sprite($next_arrow);
        cursor: pointer;
        z-index: 9999;
        right: 0;
        top: 22px;
        background-size: auto;
        &_darkfirst {
            @include sprite($next_arrow_hover);
            cursor: pointer;
            z-index: 9999;
            right: 0;
            top: 22px;
            background-size: auto;
            &:hover {
                @include sprite($next_arrow);
            }
        }
        &:hover {
            @include sprite($next_arrow_hover);
        }
    }

    // blocks
    @import "elements/header";
    @import "elements/icons";
    @import "elements/_horizontal_categorys";
    @import "elements/_breadcrumbs";
    @import "elements/_categorys_onmain";
    @import "elements/_tarifs_slider";
    @import "elements/_details_blocks";
    @import "elements/logos_slider";
    @import "elements/main_content";
    @import "elements/second_content";
    @import "elements/aside_menu";
    @import "elements/tarifs_item";
    @import "elements/tarif_page";
    @import "elements/uslugi_page";
    @import "elements/footer";
}

