html {
    a {
        outline: none !important;
        transition: all ease-in-out 0.05s;
    }
    font-family: $clearsansRegular;
    // font-kerning: 4.4em;
    letter-spacing: 0.09em;
    div {
        transition: all ease-in-out 0.2s;
    }
}
body {
    color: $darkGrey;
    // номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона// номер телефона
    .phone__number {
        font-family: $clearsansThinRegular;
        // font-size: 26px;
        font-size: 1.6em;
        font-weight: 200;
        line-height: 20px;
        text-align: right;
        text-decoration: none;
        // font-kerning: 9em;
        &_headercolor {
            color: $grey;
        }
        &_footercolor {}
    }
    // иконки категорий на главной
    .phone__icon__big {
        @include sprite($telephone_big);
    }
    .meh__icon {
        @include sprite($cogwheel);
    }
    .smartphone__icon {
        @include sprite($smartphone);
    }
    .tools__icon {
        @include sprite($repair-tools);
    }
    .server__icon {
        @include sprite($server);
    }
    // шапка
    // шапка
    // шапка
    // шапка
    // шапка
    // шапка
    // шапка
    // шапка
    @import "elements/header";
    // categorys on main
    // categorys on main
    // categorys on main
    // categorys on main
    // categorys on main
    // categorys on main
    // categorys on main
    @import "elements/_categorys_onmain";
    @import "elements/_tarifs_slider";
}
