// vars for media-queries
// exampl:
//      @include screen($littleboy-min, $littleboy-max){
//          background-color: #000;
//      }

// // widths
// $littleboy-min: 0px;
// $littleboy-max: 480px;
// ////////////////////////////////
// $middleboy-min: 320px;
// $middleboy-max: 568px;
// //////////////////////////////
// $olderboy-min: 414px;
// $olderboy-max: 736px;
// //////////////////////////////
$mainWidt:1290px;

// main colors
$lightGrey:#f4f4f4;
$yellow:#ff9c1c;
$orange:#a93737;
$darkGrey:#323232;
$blackColor:#131313;