// иконки
    .phone__icon__big {
        @include sprite($telephone_big);
        // transition: none;
    }
    .phone__icon__big_white {
        @include sprite($telephone_big_hover);
        // transition: none;
    }
    .meh__icon {
        @include sprite($cogwheel);
        // transition: none;
    }
    .meh__icon_white {
        @include sprite($cogwheel-hover);
        // transition: none;
    }
    .smartphone__icon {
        @include sprite($smartphone);
        // transition: none;
    }
    .tools__icon {
        @include sprite($repair-tools);
        // transition: none;
    }
    .server__icon {
        @include sprite($server);
        // transition: none;
    }
    .server__icon_white {
        @include sprite($server-hover);
        // transition: none;
    }
    .coins__icon {
        @include sprite($coins_icon);
    }
    .repairtools__icon {
        @include sprite($repairtools_icon);
    }
    .callwomen__icon {
        @include sprite($callwomen_icon);
    }
    .rings__icon {
        @include sprite($rings_icon);
    }
    .helpcircle__icon {
        @include sprite($helpcircle_icon);
    }
    .key__icon {
        @include sprite($key_icon);
    }