.main__content__wr {
    min-height: 1279px;
    width: 100%;
    position: relative;
    padding: 0;
    &_back {
        background-image: url('../img/wolkin_man.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
}

.mainpage__content{
    @extend .content_width;
    outline: 1px dotted red;
    padding-bottom:50em;
}
