//- категории на главной
.category__onmain_wrapper
    .category__onmain__item.category__onmain__item_bordered
        a(href="#").category__onmain__link
            .phone__icon__big.category__onmain__item_icon
            .category__onmain__item_name Многоканальный городской номер

    .category__onmain__item.category__onmain__item_doubled
        .category__onmain__item__sub.category__onmain__item__sub_crmerp
            a(href="#").category__onmain__link
                .meh__icon.category__onmain__item_icon
                .category__onmain__item_name Интеграция <br/>с CRM и ERP системами
        .category__onmain__item__sub.category__onmain__item__sub_earth
            a(href="#").category__onmain__link
                .smartphone__icon.category__onmain__item_icon
                .category__onmain__item_name Междугородняя <br/>и международная связь

    .category__onmain__item.category_onmain__item_cleared.category__onmain__item__sub_tehpod
        a(href="#").category__onmain__link
            .tools__icon.category__onmain__item_icon
            .category__onmain__item_name Техническая поддержка

    .category__onmain__item.category__onmain__item_filled
        a(href="#").category__onmain__link
            .server__icon.category__onmain__item_icon
            .category__onmain__item_name Внедрение серверов <br/>IP-телефонии
