.details__wrapper
    .details__wrapper__back
    h2 почему мы?
    .details__wrapper__items
        .details__wrapper__item
            .coins__icon
            .details__wrapper__item__content
                .details__wrapper__item__h Доступные цены
                .details__wrapper__item__text Здесь краткий текст, описывающий данное перимущество (в три-четыре строчки). Однако писатель, обращаясь к такому путешествию, которое Болконский затеял в Богучарово по делам сына.
        .details__wrapper__item
            .repairtools__icon
            .details__wrapper__item__content
                .details__wrapper__item__h Тех. поддержка
                .details__wrapper__item__text Здесь краткий текст, описывающий данное перимущество (в три-четыре строчки). Однако писатель, обращаясь к такому путешествию, которое Болконский затеял в Богучарово по делам сына.
        .details__wrapper__item
            .callwomen__icon
            .details__wrapper__item__content
                .details__wrapper__item__h Индивидульный подход
                .details__wrapper__item__text Здесь краткий текст, описывающий данное перимущество (в три-четыре строчки). Однако писатель, обращаясь к такому путешествию, которое Болконский затеял в Богучарово по делам сына.
        .details__wrapper__item
            .rings__icon
            .details__wrapper__item__content
                .details__wrapper__item__h Качественные каналы связи
                .details__wrapper__item__text Здесь краткий текст, описывающий данное перимущество (в три-четыре строчки). Однако писатель, обращаясь к такому путешествию, которое Болконский затеял в Богучарово по делам сына.
        .details__wrapper__item
            .helpcircle__icon
            .details__wrapper__item__content
                .details__wrapper__item__h Отказоустройчивость
                .details__wrapper__item__text Здесь краткий текст, описывающий данное перимущество (в три-четыре строчки). Однако писатель, обращаясь к такому путешествию, которое Болконский затеял в Богучарово по делам сына.
        .details__wrapper__item
            .key__icon
            .details__wrapper__item__content
                .details__wrapper__item__h Личный кабинет, статистика и детализация
                .details__wrapper__item__text Здесь краткий текст, описывающий данное перимущество (в три-четыре строчки). Однако писатель, обращаясь к такому путешествию, которое Болконский затеял в Богучарово по делам сына.
