//- шапка
header.hdr
	//- логотип слева. левая часть шапки
	a(href="#").hdr__logo
		img(src="img/lemur-telecom_logo.png", alt="logo",title="ЛемурТелеком").hdr__logosrc

		//- правая часть шапки
	.hdr__rightside
		.hdr__rightside__contacts
			a(href="tel:#").phone__number.phone__number_headercolor 8 890 467 77 05
			.hdr__rightside__icons
				a(href="#").hdr__rightside__icons__phone
				a(href="#").hdr__rightside__icons__email
				a(href="#").hdr__rightside__icons__card

		ul.hdr__rightside__menu.hdr__rightside__menu_margin
			li.hdr__rightside__item.hdr__rightside__item_margin
				a(href="#") главная
			li.hdr__rightside__item.hdr__rightside__item_margin
				a(href="#") о компании
			li.hdr__rightside__item.hdr__rightside__item_margin
				a(href="#") услуги
			li.hdr__rightside__item.hdr__rightside__item_margin
				a(href="#") тарифы
			li.hdr__rightside__item
				a(href="#") контакты