head
	meta(charset="UTF-8")
	title ЛемурТелеком
	meta(charset="UTF-8")
	meta(name="description",content="Предоставление услуг связи")
	meta(name="date",content="2016-05-01",scheme="YYYY-MM-DD")
	//- meta(name="identifier",content="0-2345-6634-6",scheme="ISBN")
	meta(name="keywords",content="HTML,CSS,XML,JavaScript")
	meta(name="author",content="seoready.ru")

	//- main css link
	link(rel="stylesheet", href="css/main.css")
	//- bower:css
	//- endbower