//- категории на главной
.horizontal_category_wrapper
    .horizontal_category_wrapper_items
        a(href="#").horizontal_category_wrapper_item
            .phone__icon__big_white
            span Многоканальный городской номер
        a(href="#").horizontal_category_wrapper_item
            .meh__icon_white
            span Интеграция с CRM и ERP системами
        a(href="#").horizontal_category_wrapper_item
            .smartphone__icon
            span междугородняя и международная связь
        a(href="#").horizontal_category_wrapper_item
            .tools__icon
            span техническая поддержка
        a(href="#").horizontal_category_wrapper_item
            .server__icon_white
            span внедрение сервисов ip-телефонии
