.swiper-logos_wrapper
    .swiper-container.logos__slider
        .swiper-wrapper
            .swiper-slide.logos__slider__slide
                a(href="#").logos__slider__link
                    img(src="img/Gazprom-Logo.png", alt="Gazprom").logos__slider__img

            .swiper-slide.logos__slider__slide
                a(href="#").logos__slider__link
                    img(src="img/Rostelecom-Logo.png", alt="Gazprom").logos__slider__img

            .swiper-slide.logos__slider__slide
                a(href="#").logos__slider__link
                    img(src="img/Gazprom-Logo.png", alt="Gazprom").logos__slider__img
            .swiper-slide.logos__slider__slide
                a(href="#").logos__slider__link
                    img(src="img/Rostelecom-Logo.png", alt="Gazprom").logos__slider__img

            .swiper-slide.logos__slider__slide
                a(href="#").logos__slider__link
                    img(src="img/Gazprom-Logo.png", alt="Gazprom").logos__slider__img
            .swiper-slide.logos__slider__slide
                a(href="#").logos__slider__link
                    img(src="img/Rostelecom-Logo.png", alt="Gazprom").logos__slider__img

            .swiper-slide.logos__slider__slide
                a(href="#").logos__slider__link
                    img(src="img/Gazprom-Logo.png", alt="Gazprom").logos__slider__img
            .swiper-slide.logos__slider__slide
                a(href="#").logos__slider__link
                    img(src="img/Rostelecom-Logo.png", alt="Gazprom").logos__slider__img

            .swiper-slide.logos__slider__slide
                a(href="#").logos__slider__link
                    img(src="img/Gazprom-Logo.png", alt="Gazprom").logos__slider__img
            .swiper-slide.logos__slider__slide
                a(href="#").logos__slider__link
                    img(src="img/Rostelecom-Logo.png", alt="Gazprom").logos__slider__img

            .swiper-slide.logos__slider__slide
                a(href="#").logos__slider__link
                    img(src="img/Gazprom-Logo.png", alt="Gazprom").logos__slider__img
    .logos__slider__arrows
        .swiper-button-next.logos__slider__next.next__button_darkfirst
        .swiper-button-prev.logos__slider__prev.prev__button_darkfirst
