.swiper-logos_wrapper
    .swiper-logos
        //- additional required conteiner
        .swiper-wrapper
            //- slides
            .swiper-slide.swiper-logo
                a(href="#")
                    img(src="img/Gazprom-Logo.png", alt="some alt")
            .swiper-slide.swiper-logo
                a(href="#")
                    img(src="img/Gazprom-Logo.png", alt="some alt")
            .swiper-slide.swiper-logo
                a(href="#")
                    img(src="img/Gazprom-Logo.png", alt="some alt")
            .swiper-slide.swiper-logo
                a(href="#")
                    img(src="img/Gazprom-Logo.png", alt="some alt")
            .swiper-slide.swiper-logo
                a(href="#")
                    img(src="img/Gazprom-Logo.png", alt="some alt")
            .swiper-slide.swiper-logo
                a(href="#")
                    img(src="img/Gazprom-Logo.png", alt="some alt")
            .swiper-slide.swiper-logo
                a(href="#")
                    img(src="img/Gazprom-Logo.png", alt="some alt")
            .swiper-slide.swiper-logo
                a(href="#")
                    img(src="img/Gazprom-Logo.png", alt="some alt")
            .swiper-slide.swiper-logo
                a(href="#")
                    img(src="img/Gazprom-Logo.png", alt="some alt")
            .swiper-slide.swiper-logo
                a(href="#")
                    img(src="img/Gazprom-Logo.png", alt="some alt")

    .logos__nav
        .prev__button.logos__nav__prev
        .next__button.logos__nav__next
