.main__content__wr
    .main__content__wr_back
    .mainpage__content
        //- heading without buttons
        .left__heading.left__heading_withoutbuttons

            //- left__heading__naming_withbuttons - позиционирует флексбоксом
            .left__heading__naming
                h2 о компании
                a(href="#").left__heading__naming__link.left__heading__naming__link_margin узнать подробнее

        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus tempore, quod minima voluptates rerum. Et non quidem deleniti animi illum velit, in facilis! Tempora ad vero est, ipsum assumenda, necessitatibus dolorem. Molestias accusamus ad odio voluptatem exercitationem veniam commodi sint fuga debitis nobis inventore corporis, incidunt asperiores laudantium numquam laboriosam, ipsa laborum magnam ipsum id, itaque totam quaerat. Voluptates corrupti, sit tempora est laborum optio recusandae eligendi odit atque unde beatae fugit ad nobis facilis cupiditate! Blanditiis architecto quisquam officiis nemo explicabo consequatur, non aperiam dolore, incidunt quaerat reiciendis suscipit repellendus. Ipsam expedita assumenda earum beatae aliquid quas rerum, esse.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus tempore, quod minima voluptates rerum. Et non quidem deleniti animi illum velit, in facilis! Tempora ad vero est, ipsum assumenda, necessitatibus dolorem. Molestias accusamus ad odio voluptatem exercitationem veniam commodi sint fuga debitis nobis inventore corporis, incidunt asperiores laudantium numquam laboriosam, ipsa laborum magnam ipsum id, itaque totam quaerat. Voluptates corrupti, sit tempora est laborum optio recusandae eligendi odit atque unde beatae fugit ad nobis facilis cupiditate! Blanditiis architecto quisquam officiis nemo explicabo consequatur, non aperiam dolore, incidunt quaerat reiciendis suscipit repellendus. Ipsam expedita assumenda earum beatae aliquid quas rerum, esse.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus tempore, quod minima voluptates rerum. Et non quidem deleniti animi illum velit, in facilis! Tempora ad vero est, ipsum assumenda, necessitatibus dolorem. Molestias accusamus ad odio voluptatem exercitationem veniam commodi sint fuga debitis nobis inventore corporis, incidunt asperiores laudantium numquam laboriosam, ipsa laborum magnam ipsum id, itaque totam quaerat. Voluptates corrupti, sit tempora est laborum optio recusandae eligendi odit atque unde beatae fugit ad nobis facilis cupiditate! Blanditiis architecto quisquam officiis nemo explicabo consequatur, non aperiam dolore, incidunt quaerat reiciendis suscipit repellendus. Ipsam expedita assumenda earum beatae aliquid quas rerum, esse.

    include ../includes/footer.jade
