.main__content__wr
    .main__content__wr_back
    .left__heading.left__heading_withoutbuttons
        //- left__heading__naming_withbuttons - позиционирует флексбоксом
        .left__heading__naming
            h1.h_content Контентная страница
    .secondpage__content
        //- heading without buttons
                //- a(href="#").left__heading__naming__link.left__heading__naming__link_margin узнать подробнее
        .content
            p В своем творчестве Л. Н. Толстой обращается к разным граням личности для того, чтобы составить ее наиболее полный портрет. Это могут быть мало уловимые движения лица: улыбка или блеск глаз. При описании же внутреннего состояния героя важно не только эмоции, но и внешние их проявления.
            p.quote Толстой находит другие черты, способные показать нам его «диалектику души», термин, который использовал Н. Г. Чернышевский при характеристике произведений великого писателя. В своем сочинении я остановлюсь на образе дуба из романа «Война и мир», который помогает нам приоткрыть душевное состояние князя Андрея Болконского.
            p Это дерево Андрей встречает на своем пути перед тем как попадает в имение Ростовых, Отрадное. За плечами у князя может и небольшая по времени, но насыщенная по содержанию жизнь. Он видел все грани того, к чему в своем произведении обращается писатель: миру и войне.
            p Увиденное дерево заставляет Болконского вновь взглянуть на пройденный им путь. Но и воспоминания не меняют его отношения к себе. Прелесть весны не воскрешает в нем прекрасных мгновений и не дает свежего дуновения новой жизни.
            p Однако писатель, обращаясь к такому путешествию, которое Болконский затеял в Богучарово по делам сына, показывает, что именно этот дуб становится своеобразной поворотной точкой в судьбе одного из главных героев. Князь Андрей же не понимает, чему может так радоваться его, кучер Петр. И единственный, кого он находит себе в союзники, это старый дуб, который «вероятно в десять раз старше берез».

    include ../includes/footer.jade
