.main__content__wr
    .main__content__wr_back
    .left__heading.left__heading_withoutbuttons
        //- left__heading__naming_withbuttons - позиционирует флексбоксом
        .left__heading__naming
            h1.h_content Тарифы
    .two_columns_content
        //- 310px
        aside
            ul.aside_menu
                li.active
                    a(href="") Название тарифа в одну строчку
                li
                    a(href="") Название тарифа в одну строчку
                li
                    a(href="") Название тарифа в одну строчку
                li
                    a(href="") Название тарифа в одну строчку
        //- 1000
        article
            .tarifs_list
                .tarif_item.thebestof
                    .tarif_item_name
                        .tarif_name Название тарифа
                        .tarif_descr Здесь небольшой текст, например, Тариф подходит для крупных компаний.
                    .tarif_item_props
                        ul
                            li - Безлимитные звонки в России
                            li - 350 минут
                            li - 350 SMS
                            li - 3 ГБ


                    .tarif_item_prnbuttons
                        //- .price_n_button_wr__name Всё включено +
                        .price_n_button_wr__price
                            .price_n_button_wr__price__value 200 Р
                            .price_n_button_wr__price__perm в месяц
                        a(href="#").type__button узнать подробнее

                .tarif_item
                    .tarif_item_name
                        .tarif_name Название тарифа
                        .tarif_descr Здесь небольшой текст, например, Тариф подходит для крупных компаний.
                    .tarif_item_props
                        ul
                            li - Безлимитные звонки в России
                            li - 350 минут
                            li - 350 SMS
                            li - 3 ГБ


                    .tarif_item_prnbuttons
                        //- .price_n_button_wr__name Всё включено +
                        .price_n_button_wr__price
                            .price_n_button_wr__price__value 200 ₽
                            .price_n_button_wr__price__perm в месяц
                        a(href="#").type__button узнать подробнее

                .tarif_item
                    .tarif_item_name
                        .tarif_name Название тарифа
                        .tarif_descr Здесь небольшой текст, например, Тариф подходит для крупных компаний.
                    .tarif_item_props
                        ul
                            li - Безлимитные звонки в России
                            li - 350 минут
                            li - 350 SMS
                            li - 3 ГБ


                    .tarif_item_prnbuttons
                        //- .price_n_button_wr__name Всё включено +
                        .price_n_button_wr__price
                            .price_n_button_wr__price__value 200 ₽
                            .price_n_button_wr__price__perm в месяц
                        a(href="#").type__button узнать подробнее

                .tarif_item
                    .tarif_item_name
                        .tarif_name Название тарифа
                        .tarif_descr Здесь небольшой текст, например, Тариф подходит для крупных компаний.
                    .tarif_item_props
                        ul
                            li - Безлимитные звонки в России
                            li - 350 минут
                            li - 350 SMS
                            li - 3 ГБ


                    .tarif_item_prnbuttons
                        //- .price_n_button_wr__name Всё включено +
                        .price_n_button_wr__price
                            .price_n_button_wr__price__value 200 ₽
                            .price_n_button_wr__price__perm в месяц
                        a(href="#").type__button узнать подробнее

                .tarif_item
                    .tarif_item_name
                        .tarif_name Название тарифа
                        .tarif_descr Здесь небольшой текст, например, Тариф подходит для крупных компаний.
                    .tarif_item_props
                        ul
                            li - Безлимитные звонки в России
                            li - 350 минут
                            li - 350 SMS
                            li - 3 ГБ


                    .tarif_item_prnbuttons
                        //- .price_n_button_wr__name Всё включено +
                        .price_n_button_wr__price
                            .price_n_button_wr__price__value 200 ₽
                            .price_n_button_wr__price__perm в месяц
                        a(href="#").type__button узнать подробнее

                .tarif_item.thebestof
                    .tarif_item_name
                        .tarif_name Название тарифа
                        .tarif_descr Здесь небольшой текст, например, Тариф подходит для крупных компаний.
                    .tarif_item_props
                        ul
                            li - Безлимитные звонки в России
                            li - 350 минут
                            li - 350 SMS
                            li - 3 ГБ


                    .tarif_item_prnbuttons
                        //- .price_n_button_wr__name Всё включено +
                        .price_n_button_wr__price
                            .price_n_button_wr__price__value 200 ₽
                            .price_n_button_wr__price__perm в месяц
                        a(href="#").type__button узнать подробнее

                .tarif_item
                    .tarif_item_name
                        .tarif_name Название тарифа
                        .tarif_descr Здесь небольшой текст, например, Тариф подходит для крупных компаний.
                    .tarif_item_props
                        ul
                            li - Безлимитные звонки в России
                            li - 350 минут
                            li - 350 SMS
                            li - 3 ГБ


                    .tarif_item_prnbuttons
                        //- .price_n_button_wr__name Всё включено +
                        .price_n_button_wr__price
                            .price_n_button_wr__price__value 200 ₽
                            .price_n_button_wr__price__perm в месяц
                        a(href="#").type__button узнать подробнее

                .tarif_item
                    .tarif_item_name
                        .tarif_name Название тарифа
                        .tarif_descr Здесь небольшой текст, например, Тариф подходит для крупных компаний.
                    .tarif_item_props
                        ul
                            li - Безлимитные звонки в России
                            li - 350 минут
                            li - 350 SMS
                            li - 3 ГБ


                    .tarif_item_prnbuttons
                        //- .price_n_button_wr__name Всё включено +
                        .price_n_button_wr__price
                            .price_n_button_wr__price__value 200 ₽
                            .price_n_button_wr__price__perm в месяц
                        a(href="#").type__button узнать подробнее


    

    include ../includes/footer.jade
