.main__content__wr
    .main__content__wr_back
    .left__heading.left__heading_withoutbuttons
        //- left__heading__naming_withbuttons - позиционирует флексбоксом
        .left__heading__naming
            h1.h_content Контентная страница
    .two_columns_content
        //- heading without buttons
                //- a(href="#").left__heading__naming__link.left__heading__naming__link_margin узнать подробнее
        aside
            ul.aside_menu
                li.active
                    a(href="") Название тарифа в одну строчку
                li
                    a(href="") Название тарифа в одну строчку
                li
                    a(href="") Название тарифа в одну строчку
                li
                    a(href="") Название тарифа в одну строчку

        article
            p В своем творчестве Л. Н. Толстой обращается к разным граням личности для того, чтобы составить ее наиболее полный портрет. Это могут быть мало уловимые движения лица: улыбка или блеск глаз. При описании же внутреннего состояния героя важно не только эмоции, но и внешние их проявления.
            p Это дерево Андрей встречает на своем пути перед тем как попадает в имение Ростовых, Отрадное. За плечами у князя может и небольшая по времени, но насыщенная по содержанию жизнь. Он видел все грани того, к чему в своем произведении обращается писатель: миру и войне.
            p Увиденное дерево заставляет Болконского вновь взглянуть на пройденный им путь. Но и воспоминания не меняют его отношения к себе. Прелесть весны не воскрешает в нем прекрасных мгновений и не дает свежего дуновения новой жизни.
            p Однако писатель, обращаясь к такому путешествию, которое Болконский затеял в Богучарово по делам сына, показывает, что именно этот дуб становится своеобразной поворотной точкой в судьбе одного из главных героев. Князь Андрей же не понимает, чему может так радоваться его, кучер Петр. И единственный, кого он находит себе в союзники, это старый дуб, который «вероятно в десять раз старше берез».
            h3 Дополнительные возможности:

            table
                tr
                    td Безлимитные звонки на билайн по спб и нел области
                tr
                    td 50 минут звонков на все номра других операторов Санкт-Петербурга
                tr
                    td SMS не включены в абонентскую плату
            h3 Еще дополнительных возможностей:
            table
                tr
                    td Безлимитные звонки на билайн по спб и нел области
                    td 4000 рублей
                tr
                    td 50 минут звонков на все номра других операторов Санкт-Петербурга
                    td 50 рублей
                tr
                    td SMS не включены в абонентскую плату
                    td 43443 рублей
            h3 Сколько стоит
            .tarif__pageprice
                .tarif_item_prnbuttons
                    //- .price_n_button_wr__name Всё включено +
                    .price_n_button_wr__price
                        .price_n_button_wr__price__value 200 ₽
                        .price_n_button_wr__price__perm в месяц
                    .tarif__pageprice_buttons
                        a(href="#").type__button_dark узнать подробнее
                        a(href="") Скачать информацию о тарифах в Exel 
    include ../includes/footer.jade
