.left__heading.left__heading_withbuttons
    //- left__heading__naming_withbuttons - позиционирует флексбоксом
    .left__heading__naming
        h2 популярные тарифы
        a(href="#").left__heading__naming__link.left__heading__naming__link_margin Все тарифы
    .left__heading__buttons__wr
        .left__heading__buttons__wr__prev
        .left__heading__buttons__wr__next
    
    
        

//- slider main container
.swiper-container
    //- additional required conteiner
    .swiper-wrapper
        //- slides
        .swiper-slide slide 1
        .swiper-slide slide 2
        .swiper-slide slide 3
        .swiper-slide slide 4
        .swiper-slide slide 1
        .swiper-slide slide 2
        .swiper-slide slide 3
        .swiper-slide slide 4
    //- pagination
    //- .swiper-pagination
    
    //- nav buttons
    //- .swiper-button-prev
    //- .swiper-button-next
        
    //- scroll bar
    //- .swiper-scrollbar
