.main__content__wr
	.main__content__wr_back
	.left__heading.left__heading_withoutbuttons
		//- left__heading__naming_withbuttons - позиционирует флексбоксом
		.left__heading__naming
			h1.h_content Контентная страница
	.two_columns_content
		.usluga__listitem
			img(src="img/uslugi.jpg", alt="картинка услуги")
			.usluga__listitem__info
				h2 Многоканальный городской номер
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, velit similique, id aliquid quidem, deleniti sapiente consequatur incidunt maxime quibusdam, fugit quam quis. Repellendus vel autem aperiam dignissimos itaque dolores rem culpa voluptatem atque, reprehenderit. Ducimus, voluptatem voluptas ipsam deleniti.
				a(href="#").type__button Узнать подробнее
		.usluga__listitem
			img(src="img/uslugi.jpg", alt="картинка услуги")
			.usluga__listitem__info
				h2 Многоканальный городской номер
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, velit similique, id aliquid quidem, deleniti sapiente consequatur incidunt maxime quibusdam, fugit quam quis. Repellendus vel autem aperiam dignissimos itaque dolores rem culpa voluptatem atque, reprehenderit. Ducimus, voluptatem voluptas ipsam deleniti.
				a(href="#").type__button Узнать подробнее
		.usluga__listitem
			img(src="img/uslugi.jpg", alt="картинка услуги")
			.usluga__listitem__info
				h2 Многоканальный городской номер
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, velit similique, id aliquid quidem, deleniti sapiente consequatur incidunt maxime quibusdam, fugit quam quis. Repellendus vel autem aperiam dignissimos itaque dolores rem culpa voluptatem atque, reprehenderit. Ducimus, voluptatem voluptas ipsam deleniti.
				a(href="#").type__button Узнать подробнее
		.usluga__listitem
			img(src="img/uslugi.jpg", alt="картинка услуги")
			.usluga__listitem__info
				h2 Многоканальный городской номер
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, velit similique, id aliquid quidem, deleniti sapiente consequatur incidunt maxime quibusdam, fugit quam quis. Repellendus vel autem aperiam dignissimos itaque dolores rem culpa voluptatem atque, reprehenderit. Ducimus, voluptatem voluptas ipsam deleniti.
				a(href="#").type__button Узнать подробнее



















	include ../includes/footer.jade