<!DOCTYPE html/>
html(lang="en")
    include ./includes/head.jade
    body
        include ./includes/header.jade
        include ./includes/horizontal_categorys.jade
        include ./includes/breadcrumbs.jade
        //- include ./includes/categorys_onmain.jade
        //- include ./includes/tarifs_slider.jade
        //- include ./includes/details_blocks.jade
        //- include ./includes/logos_slider.jade
        include ./includes/secondary_content.jade
        
        //- bower:js
        script(src='../../dist/bower_components/Swiper/dist/js/swiper.js')
        script(src='../../dist/bower_components/jquery/dist/jquery.js')
        //- endbower
        script(src="js/custom_plgns.min.js")
        script(src="js/main.min.js")
