<!DOCTYPE html/>
html(lang="en")
include ./includes/head.jade
body
    include ./includes/header.jade
    include ./includes/categorys_onmain.jade
    include ./includes/tarifs_slider.jade
    include ./includes/details_blocks.jade
    include ./includes/logos_slider.jade
    
    include ./includes/footer.jade
